<div class="row">
  <div class="col-xs-6">
    <h2 id="animalShowPageMain"><%= @animal.name %>'s Board</h2>
      <div id ="messageBoardImage">
        <%= image_tag @animal.image.url %>
      </div>
      <p id="ownerName"> Owner: <%=@animal.user.name %> </p>
      <a href="/users/<%= @animal.user.id %>"><img id="ownerImg" src="<%= @animal.user.image %>"/></a>
  </div>
  <div class="col-xs-6">
    <div class="animalDescription"><h2><%= @animal.description %></h2>
    </div>
  </div>
</div>

<%= render :partial => 'message' %>
