
<h1><%= @animal.name %>'s Board</h1>
  <div id ="messageBoardImage">
    <%= image_tag @animal.image.url %>
  </div>
<hr/>

<div class="animalDescription"><h2><%= @animal.description %></h2></div>
<% if @messages %>
  <% @messages.each do |message| %>
    <p><%=  message.user.name %></p>
    <p><%=  message.title %></p>
    <p><%=  message.description %> </p>
  <% end %>
<% end %>

<h1> New Message </h1>
<%= form_for([@animal, @message]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => "Title of your message" %>
  <%= f.label :description %>
  <%= f.text_field :description, :placeholder => "Your Message", :size => "50x10" %>
  <%= f.submit %>

<% end %>
