<h1> Add your Message to <%=@animal.name%>'s Board </h1>
<%= form_for ([@animal, @message]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => "Title of your message" %>
  <%= f.label :description %>
  <%= f.text_area :description, :placeholder => "Your Message", :size => "20x5" %>
  <%= f.submit %>
<% end %>