<p><%= current_user.inspect %></p>

<h1> Welcome back <%= @user.name %> </h1>

  <ul>
  <li><%= link_to "View your pets", animals_path %></li>
  <li><%= link_to "Add a new pet", new_animal_path %></li>
  <li><%= link_to "Edit a current pet", edit_animal_path %></li>
  <li><%= link_to "Delete a pet off of the site", users_path %></li>
</ul>