<div class="welcomeMenuLeft">
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      Browse Pets Available <span class="caret"></span>
    </button>
      <ul class="dropdown-menu" role="menu">
        <div class="welcomeMenuLeftButtons">
          <li><a value="all" href="/animals/">View all Pets in the Hub</a></li>
          <li><%= link_to "Browse Cats Only", animals_path, :class => "btn", params["value"] => "cat" %></li>
          <li><%= link_to "Browse Dogs Only", animals_path, :class => "btn", params["value"] => "dog" %></li>
        </div>
      </ul>
  </div>
</div>

<h1 id="mainWelcome"><strong> Welcome to PetHub </h1></strong>
<h2 id="mainSecond"> The World's First Social Pet Sharing Site</h2>
  
<div class="row">
  <div class="col-xs-7">
    <div id="othersSaid">
      <h4> Here's what our users have said about PetHub</h4>
    </div>
    <div id="welcomeComments">
      <% if @message != nil %>
        <em><strong><%= @message.description %></strong></em><br><br>
        <img src="<%= @message.user.image %>"/>
        <strong>--<%= @message.user.name %></strong>
      <% end %>
    </div>
  </div>
  <div class="col-xs-4">
    <div id="disclaimer">
      <p>--By Signing up and using this site you, the user, take all responsibility for using PetHub LLC. PetHub LLC is not responsible for any loss or damages you may experience by using this site.
    </div>
  </div>
</div>