<div class ="form">
  <%= form_for @animal, :html => {:multipart => true} do |f| %>
    <% if @animal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>
        <ul>
          <% @animal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :placeholder => "Enter name of pet here" %><br>
    
    <%= f.label :species %>
    <%= f.text_field :species, :placeholder => "Dog or Cat?" %><br>
    
    <%= f.label :breed %>
    <%= f.text_field :breed, :placeholder => "Enter breed of pet here" %><br>
    
    <%= f.label :age %>
    <%= f.text_field :age, :placeholder => "Enter age of pet here" %><br>
    
    <%= f.label :description %>
    <%= f.text_area :description, :placeholder => "Short description of your pet and the times available for loaning", :size => "50x10" %><br>
    
    <h5> Upload an image here</h5>
    <%= f.file_field :image %><br>
    
    <%= f.submit  class: "btn btn-primary" %>
  <% end %>
</div>

