<%= form_for @animal, :html => {:multipart => true} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>
  <br>
  <%= f.label :species %>
  <%= f.text_field :species %>
  <br>
  <%= f.label :breed %>
  <%= f.text_field :breed %>
  <br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br>
  <h5> Upload an image here</h5>
  <%= f.file_field :image %>
  <br>
  <%= f.submit  class: "btn btn-primary" %>
<% end %>