<% @animals_today.each do |animal| %>
  <div class="row">
    <div class="col-xs-1">
      <td><a class="animalTextIndex" href='/animals/<%= animal.id %>'><%= animal.name %></a></td>
    </div>
    <div class="col-xs-2">
      <td><a class='animalImageIndex' href='/animals/<%= animal.id %>'><%= image_tag animal.image.url %></a></td>
    </div>
    <div class="col-xs-3">
      <div class="createdAt">
        <td>Added<br><%= animal.created_at.localtime.strftime("%B %d at %I:%M %p") %></td>
      </div>
    </div>
  </div>
<% end %>


<h2 class="date"> <%= (Time.now.localtime - 24.hour).strftime("%B %d") %> </h2>
  <% @animals_yesterday.each do |animal| %>
    <div class="row">
      <div class="col-xs-1">
        <td><a class="animalTextIndex" href='/animals/<%= animal.id %>'><%= animal.name %></a></td>
      </div>
      <div class="col-xs-2">
        <td><a class='animalImageIndex' href='/animals/<%= animal.id %>'><%= image_tag animal.image.url %></a></td>
      </div>
      <div class="col-xs-2">
        <div class="createdAt">
          <td>Added<br><%= animal.created_at.localtime.strftime("%B %d at %I:%M %p") %></td>
        </div>
      </div>
    </div>
  <% end %>

<h2 class="date"> This Past Week </h2>
  <% @animals_this_week.each do |animal| %>
    <div class="row">
      <div class="col-xs-1">
        <td><a class="animalTextIndex" href='/animals/<%= animal.id %>'><%= animal.name %></a></td>
      </div>
      <div class="col-xs-2">
        <td><a class='animalImageIndex' href='/animals/<%= animal.id %>'><%= image_tag animal.image.url %></a></td>
      </div>
      <div class="col-xs-2">
        <div class="createdAt">
          <td>Added<br><%= animal.created_at.localtime.strftime("%B %d at %I:%M %p") %></td>
        </div>
      </div>
    </div>
  <% end %>

