
<div class="pet">
  <p><%= @animal.name %></p>
  <%= image_tag @animal.image.url.to_s %>
  <div class="actions">
    <%= link_to "Edit", edit_animal_path(@animal) %>
    <%= link_to "Remove", @animal, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>


<p> <%= @animal.inspect %> </p>